# Gradle build results, gradle cache
build/
../tooling-devtools-24-ss/.gradle/

# Ignore top level log files and directories
*.log
logs/

# IntelliJ specific files
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse specific files
bin/
.settings/
.classpath
.project

# jenv specific files
.java-version

# MicroProject specific files
coffeemaker.ser

# Gradle Wrapper (generate with - gradle wrapper)
gradle/
gradlew
gradlew.bat